
@{
    ViewBag.Title = "StudentsService";
}

<h2>StudentsService</h2>
<div>
    <a href="/students" class="btn btn-primary active" role="button" aria-pressed="true">Go to Students List</a>

    <a href="/groups" class="btn btn-primary active" role="button" aria-pressed="true">Go to Groups List</a>
</div>


<!--

@Html.ActionLink("Go to Students List", "Index", "Students")
@Html.ActionLink("Go to Groups List", "Index", "Groups")
-->
